

/*-----Start CSS Reset style------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
menu li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----End CSS Reset style------*/

body {
   text-align: center;
   font-size: 20px;
}

body,
html {
   width: 100%;
   height: 100%;
}

body {
   padding-top: 40px;
   background-color: aqua;
}

.div-row{
   display: flex;
   height: 30px;
   margin-top: 3px;
   justify-content: center;
}

.div-item{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   height: 30px; width: 30px; margin-left: 3px;
}

/* .div-item[data-mined = "true"]{
   background-color: red;
} */

.checked{
   background-color: lightgrey;
}

.flag {
   background-color: red;
}

.main-div-rect{
   white-space: nowrap;
}

.btn{
   margin-top: 20px;
   padding: 5px;
}

